.heroSection {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 0 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #1c3263, #442063);
  position: relative;
}

.heroSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(85, 85, 85);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.titleBox h1 {
  font-size: 70px;
  color: white;
  font-family: "Orbitron";
  line-height: 1.1;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px;
  color: white;
}

.btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 937px) {
  .titleBox h1 {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .titleBox h1 {
    font-size: 40px;
  }

  .subtitle {
    font-size: 15px;
    color: white;
  }
}
