/* SECTION base */
.heroSection {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 40px;

  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #1c3263, #442063);
}

/* Conteúdo interno */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.titleBox h1 {
  font-size: 70px;
  color: white;
  font-family: "Orbitron";
  line-height: 1.1;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px;
  color: white;
}

/* BOTÃO */
.btn {
  position: relative;
  cursor: pointer;

  padding: 16px 32px;
  width: fit-content;

  color: white;
  text-transform: uppercase;

  border-radius: 8px;
  border: 2px solid #d4edf9;

  background: transparent;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}
