@import "tailwindcss";
@font-face {
  font-family: "Lexica";
  src: url(../src/assets/fonts/Lastica/fonnts.com-Lastica.ttf);
  style: normal;
}

:root {
  /* Color fonts */
  --white: #fff;
}
header h1 {
  font-family: "Lexica";
}
header span,
.text-hero {
  font-family: "Poppins";
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
