@import "tailwindcss";
:root {
  /* Color fonts */
  --white: #fff;
  --pink-dark: #d73cbe;

  /* text shadow */
  --minimum-shadow: 0.3px 0.3px 1.5px rgba(0, 0, 0, 0.7);
}
header h1 {
  font-family: "Lexica";
}
header span,
.text-hero {
  font-family: "Poppins";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #1c3263, #442063);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
