* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color fonts */
  --white: #fff;
  --pink-dark: #d73cbe;
  --gray: #636363;
  --dark-purple: #2c1e4a;

  /* text shadow */
  --minimum-shadow: 0.3px 0.3px 1.5px rgba(0, 0, 0, 0.7);
}

body {
  background: linear-gradient(to right, #1c3263, #442063);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
