.howToUseContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: var(--pink-dark);
  padding-bottom: 50px;
  padding-top: 10px;
}

.servicesContainer {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cardService {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 25px;
  width: clamp(250px, 27vw, 420px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(6px);
}

.cardService:hover {
  transform: scale(1.03);
  transition: all 0.1s ease-in-out;
}

.cardService h2 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.cardService img {
  width: 90%; /* aumentar tamanho da imagem */
  max-width: 280px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.cardService p {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 90%;
}

/* MOBILE */
@media (max-width: 768px) {
  .servicesContainer {
    gap: 1.8rem;
  }

  .cardService {
    width: 95%; /* ainda maior no mobile */
  }

  .cardService img {
    width: 95%;
    max-width: none; /* imagem enorme no mobile */
  }
}

.howToUseContainer::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background-color: rgb(85, 85, 85);
  transform: translateX(-50%);
}
