.outstandingContainer {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.title {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: var(--pink-dark);
  padding: 40px;
  text-align: center;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 20px;
}

.cards {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.card {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  gap: 8px;
  border-radius: 5px 20px 5px 20px;
}

.card h3 {
  font-family: "Orbitron", sans-serif;
  color: var(--pink-dark);
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.cards .profileImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px 20px 5px 20px;
}

.card .nameArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.cards .verifyIcon {
  width: 15px;
}

.card p {
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  font-size: 0.7rem;
}

.cards .rating {
  width: 100px;
}

.btn {
  border: none;
  background-color: var(--dark-purple);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.btn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 1rem;
  }
}
