.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0;
  margin-top: 50px;
  border-bottom: 1px solid var(--gray);
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.title {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title h1 {
  color: var(--white);
  font-family: "Orbitron", sans-serif;
  font-size: clamp(2rem, 4vw, 3em);
  line-height: 1.1;
  margin-bottom: 20px;
}

.title img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px 30px 10px 30px;
  object-fit: cover;
}

.boxes {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 30px;
}

.box {
  padding: 30px;
  border: 1.3px solid var(--white);
}

.box h2 {
  font-family: "Orbitron";
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.box p {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  line-height: 1.6;
}

@media screen and (max-width: 919px) {
  .content .title {
    align-items: center;
  }
}

@media screen and (max-width: 879px) {
  .title {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .content {
    gap: 60px;
  }

  .title img {
    max-width: 100%;
  }
}
